{% extends "news_base.html" %}
{% load menu_tags i18n comments gravatar %}

{% block extra_css %}
		<link rel="stylesheet" href="{{ STATIC_URL }}css/maui.news.css" type="text/css">
{% endblock %}

{% block page_title %}{{ news.title }}{% endblock %}

{% block title %}
	<h2>{{ news.title }}</h2>
	<span class="muted">{% blocktrans with author=news.user.get_full_name submitted_on=news.created_at|date:"DATETIME_FORMAT" %}Submitted by {{ author }} on {{ submitted_on }}{% endblocktrans %}</span>
{% endblock %}

{% block main %}
	<ul class="breadcrumb">
		{% block breadcrumb %}
			{% show_breadcrumb 0 "breadcrumb.html" %}
		{% endblock %}
	</ul>

	<p>
		{{ news.body|safe|urlizetrunc:20 }}
	</p>

	<p>
		{% for tag in news.tags.all %}
			<a href="{% url news_tags tag=tag.name %}"><span class="label label-info tag-weight-1">{{ tag.name }}</span></a>
		{% endfor %}
	</p>

	{% if news.comments_enabled %}
		{% get_comment_list for news as comments %}
		{% if comments %}<div class="page-header"><h3>{% trans "Comments" %}</h3></div>{% endif %}
		{% for comment in comments %}
			<div class="row-fluid">
				<div class="pull-left">
					<img class="img-polaroid" style="margin-right: 1em" src="{% gravatar_for_email comment.user_email 80 %}">
				</div>
				<p>
					<span class="dimed">
						{% blocktrans with name=comment.user_name submit_date=comment.submit_date|date:"DATETIME_FORMAT" %}Posted by {{ name }} on {{ submit_date }}{% endblocktrans %}
					</span>
				</p>
				<blockquote>
					<p>{{ comment.comment }}</p>
				</blockquote>
			</div>
			{% if not forloop.last %}<hr>{% endif %}
		{% endfor %}

		{% get_comment_form for news as form %}
		<div class="page-header"><h3>{% trans "Post a Comment" %}</h3></div>
		<form action="{% comment_form_target %}" method="post">
			{% csrf_token %}
			<input type="hidden" name="next" value="{% url news-details news.slug %}">

			{{ form }}

			<div class="form-actions">
				<input class="btn" type="submit" name="preview" value="{% trans "Preview" %}">
				<input class="btn btn-primary" type="submit" name="submit" value="{% trans "Post" %}">
			</div>
		</form>
	{% endif %}
{% endblock %}
