{% extends "news_base.html" %}
{% load menu_tags i18n %}

{% block extra_css %}
		<link rel="stylesheet" href="{{ STATIC_URL }}css/maui.news.css" type="text/css">
{% endblock %}

{% block page_title %}{{ news.title }}{% endblock %}

{% block title %}
	<h2>{{ news.title }}</h2>
	<span class="muted">{% blocktrans with author=news.user.get_full_name submitted_on=news.created_at|date:"DATETIME_FORMAT" %}Submitted by {{ author }} on {{ submitted_on }}{% endblocktrans %}</span>
{% endblock %}

{% block main %}
	<ul class="breadcrumb">
		{% block breadcrumb %}
			{% show_breadcrumb 0 "breadcrumb.html" %}
		{% endblock %}
	</ul>

	<p class="blog-list-detail">
		{{ news.body|safe|urlizetrunc:20 }}
	</p>

	<p class="tags">
		{% for tag in news.tags.all %}
			<a href="{% url news_tags tag=tag.name %}"><span class="label label-info tag-weight-1">{{ tag.name }}</span></a>
		{% endfor %}
	</p>

	{% if news.comments_enabled %}
		{% load comments %}

		{% render_comment_list for news %}

		<div class="page-header"><h3>{% trans "Post a Comment" %}</h3></div>
		<form action="{% comment_form_target %}" method="post">{% csrf_token %}
			{% if next %}<div><input type="hidden" name="next" value="{{ next }}" /></div>{% endif %}
			{% render_comment_form for news %}
		</form>
	{% endif %}
{% endblock %}
