{% extends "news_base.html" %}
{% load menu_tags i18n comments %}

{% block page_title %}{{ news.title }}{% endblock %}

{% block title %}
	<h2>{{ news.title }}</h2>
	<span class="muted">{% blocktrans with author=news.user.get_full_name submitted_on=news.created_at|date:"DATETIME_FORMAT" %}Submitted by {{ author }} on {{ submitted_on }}{% endblocktrans %}</span>
{% endblock %}

{% block main %}
	<ul class="breadcrumb">
		{% block breadcrumb %}
			{% show_breadcrumb 0 "breadcrumb.html" %}
		{% endblock %}
	</ul>

	<p>
		{{ news.body|safe|urlizetrunc:20 }}
	</p>

	{% render_comment_list for news %}

	{% get_comment_form for news as form %}
	<form action="{% comment_form_target %}" method="post">
		<legend>{% trans "Post a comment" %}</legend>
		{% csrf_token %}
		<input type="hidden" name="next" value="{% url news-details news.slug %}">

		{{ form }}

		<div class="form-actions">
			<input class="btn" type="submit" name="preview" value="{% trans "Preview" %}">
			<input class="btn btn-primary" type="submit" name="submit" value="{% trans "Post" %}">
		</div>
	</form>
{% endblock %}
