{% extends "registration/base.html" %}

{% load i18n %}

{% block page_title %}{% trans "Password change" %}{% endblock %}

{% block content %}
	<form action="" method="post" class="well form-horizontal">
		<legend>{% trans "Password Change" %}</legend>
		{% csrf_token %}

		<div class="alert alert-info">{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</div>

		{% if form.errors %}
			<div class="alert alert-error">{% trans "Please correct the errors below." %}</div>
		{% endif %}

		<div class="control-group{% if form.old_password.errors %} error{% endif %}">
			<label class="control-label" for="id_password1">{% trans "Password:" %}</label>
			<div class="controls">
				{{ form.old_password }}
				{% if form.old_password.errors %}<span class="help-inline">{{ form.old_password.errors|join:", " }}</span>{% endif %}</dt>
			</div>
		</div>

		<div class="control-group{% if form.new_password1.errors %} error{% endif %}">
			<label class="control-label" for="id_password1">{% trans "Password:" %}</label>
			<div class="controls">
				{{ form.new_password1 }}
				{% if form.new_password1.errors %}<span class="help-inline">{{ form.new_password1.errors|join:", " }}</span>{% endif %}</dt>
			</div>
		</div>

		<div class="control-group{% if form.new_password2.errors %} error{% endif %}">
				<label class="control-label" for="id_password2">{% trans "Password (type again to catch typos):" %}</label>
			<div class="controls">
				{{ form.new_password2 }}
				{% if form.new_password2.errors %}<span class="help-inline">{{ form.new_password2.errors|join:", " }}</span>{% endif %}</dt>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<input class="btn btn-primary" type="submit" value="{% trans "Change my password" %}">
			</div>
		</div>
	</form>
{% endblock %}
