{% extends "registration/base.html" %}

{% load i18n gravatar %}

{% block meta_title %}{% blocktrans with name=request.user.username %}{{ name }}'s profile{% endblocktrans %}{% endblock %}

{% block extra_js %}
	<script type="text/javascript">
		$(function() {
		});
	</script>
{% endblock %}

{% block title %}
	<h1>{{ request.user.first_name }} {{ request.user.last_name }}</h1>
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span10">
				<form action="." method="post">
				<table class="table table-bordered table-striped table-condensed">
					<tbody>
						<tr>
							<th>{% trans "Username" %}</th>
							<td>{{ request.user.username }}</td>
						</tr>
						<tr>
							<th>{% trans "Email Address" %}</th>
							<td>{{ request.user.email }}</td>
						</tr>
						<tr>
							<th>{% trans "First Name" %}</th>
							<td>{{ request.user.first_name }}</td>
						</tr>
						<tr>
							<th>{% trans "Last Name" %}</th>
							<td>{{ request.user.last_name }}</td>
						</tr>
						<tr>
							<th>{% trans "Date of Birth" %}</th>
							<td>{{ request.user.get_profile.date_of_birth|date:"SHORT_DATE_FORMAT" }}</td>
						</tr>
						<tr>
							<th>{% trans "Gender" %}</th>
							<td>{{ request.user.get_profile.get_gender_display }}</td>
						</tr>
						<tr>
							<th>{% trans "Joined Since" %}</th>
							<td>{{ request.user.date_joined|date:"SHORT_DATETIME_FORMAT" }}</td>
						</tr>
						<tr>
							<th>{% trans "Last Login" %}</th>
							<td>{{ request.user.last_login|date:"SHORT_DATETIME_FORMAT" }}</td>
						</tr>
						<tr>
							<td colspan="2">
								{% if request.user.get_profile.receive_updates %}
									<span class="badge badge-success"><i class="icon-ok"></i></span>&nbsp;{% trans "You are receiving updates from this Web site" %}
								{% else %}
									<span class="badge badge-important"><i class="icon-remove"></i></span>&nbsp;{% trans "You are not receiving updates from this Web site" %}
								{% endif %}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="span2">
				<img class="thumbnail pull-right" src="{% gravatar_for_user request.user 128 %}" alt="{% trans "Profile picture" %}"
				     rel="tooltip" title="{% trans "Your picture" %}">
			</div>
		</div>

		<div class="row-fluid">
			<div class="span2"></div>
			<div class="span8">
				<a id="editButton" rel="tooltip" class="btn btn-primary"
				   title="{% trans "Edit your profile" %}">{% trans "Edit Profile" %}</a>

				<a href="{% url auth_password_change %}" rel="tooltip" class="btn btn-danger"
				   title="{% trans "Change your password" %}">{% trans "Change Password" %}</a>
			</div>
			<div class="span2"></div>
		</div>
	</div>
{% endblock %}
