{% extends "base.html" %}
{% load mezzanine_tags keyword_tags %}

{% block meta_title %}{{ page.title }}{% endblock %}

{% block meta_keywords %}
	{% metablock %}
		{% keywords_for page as keywords %}
		{% for keyword in keywords %}
			{% if not forloop.first %}, {% endif %}
			{{ keyword }}
		{% endfor %}
	{% endmetablock %}
{% endblock %}

{% block meta_description %}
	{% metablock %}
		{{ page.description }}
	{% endmetablock %}
{% endblock %}

{% block title %}
	{% editable page.title %}
		<h1>
			{{ page.title }}
			{% if page.subtitlerichtextpage and page.subtitlerichtextpage.subtitle %}
				{% editable page.subtitlerichtextpage.subtitle %}<small>{{ page.subtitlerichtextpage.subtitle }}</small>{% endeditable %}
			{% endif %}
		</h1>
	{% endeditable %}
{% endblock %}

{% block main %}
	{% if page.subtitlerichtextpage %}
		{{ page.subtitlerichtextpage.content|richtext_filter|safe }}
	{% endif %}
{% endblock %}
