{% extends "base_simple.html" %}

{% load i18n %}

{% block extra_css %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/httperror.css" type="text/css">
{% endblock %}

{% block body_id %}httperror{% endblock %}

{% block main %}
	<div class="span5 httperror">
		<p class="httperror">{% trans "Not Found!" %}</p>
		<h2>{% trans "404." %}</h2>
		<p>{% trans "We can't find what you're looking for." %}</p>
		<p>{% trans "Return to" %} <a href="{% url home %}" class="link" rel="tooltip" title="Home Page">home page</a> {% trans "or try search for the page here:" %}
			<div class="controls">
				<form action="{% url search %}">
					<div class="input-prepend input-append">
						<span class="add-on"><i class="icon-search"></i></span><input class="span3" size="16" type="text" placeholder="{% trans "Type what you are looking for" %}" required><input type="submit" name="submit" value="Search" class="btn btn-inverse">
					</div>
				</form>
			</div>
		</p>
	</div>
	<div class="span7"></div>
{% endblock %}
