{% extends "base_simple.html" %}

{% load i18n %}

{% block extra_css %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/httperror.css" type="text/css">
{% endblock %}

{% block body_id %}httperror{% endblock %}

{% block main %}
	<div class="span5 httperror">
		<p class="httperror">{% trans "Internal Server Error!" %}</p>
		<h2>{% trans "505." %}</h2>
		<p>{% trans "Sorry, an error occurred! Our best monkeys are investigating what's just happened." %}</p>
		<p>{% trans "Please return to the" %} <a href="{% url home %}" class="link" rel="tooltip" title="{% trans "Home Page" %}">{% trans "home page" %}</a>.</p>
	</div>
	<div class="span7"></div>
{% endblock %}
