<!DOCTYPE html>
{% load pages_tags mezzanine_tags i18n %}
<html lang="en" dir="ltr">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
		<meta name="description" content="{% block meta_description %}{% endblock %}">
		<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
		<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">

		{% ifinstalled mezzanine.blog %}
			<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url blog_post_feed "rss" %}">
			<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url blog_post_feed "atom" %}">
		{% endifinstalled %}

		<link href="http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono|Droid+Serif" rel="stylesheet" type="text/css">

		{% compress css %}
			<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" type="text/css">
			<link rel="stylesheet" href="{{ STATIC_URL }}css/maui.layout.css" type="text/css">
			<link rel="stylesheet" href="{{ STATIC_URL }}css/maui.styles.css" type="text/css">
			{% ifinstalled cartridge.shop %}
				<link rel="stylesheet" href="{{ STATIC_URL }}css/cartridge.css" type="text/css">
			{% endifinstalled %}
			{% block extra_css %}{% endblock %}
		{% endcompress %}

		{% compress js %}
			<script src="{{ STATIC_URL }}mezzanine/js/{{ settings.JQUERY_FILENAME }}"></script>
			<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
			<script>
				$(function() {
					$(".middleinput:text, textarea").addClass("xlarge");
					$(".control-group label").addClass("control-label");
				});
			</script>
			{% block extra_js %}{% endblock %}
		{% endcompress %}
		<!--[if lt IE 9]>
			<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		{% block extra_head %}{% endblock %}
	</head>
	<body id="{% block body_id %}body{% endblock %}">
		<div id="topbar">
			<div id="header">
				<div class="container">
					{% if settings.SITE_TITLE %}
						<a class="brand" href="/" {% if settings.SITE_TAGLINE %}title="{{ settings.SITE_TAGLINE }}"{% endif %}>
							<img src="{{ STATIC_URL }}img/logo.png" width="96" height="96" alt="{% trans "Logo" %}">
						</a>
						<h1 class="site-title">
							<a href="/" {% if settings.SITE_TAGLINE %}title="{{ settings.SITE_TAGLINE }}"{% endif %}>{{ settings.SITE_TITLE }}</a>
						</h1>
					{% endif %}

					{% page_menu "pages/menus/dropdown.html" %}

					{% nevercache %}
<div class="nav">
						{% include "includes/user_panel.html" %}
</div>
					{% endnevercache %}
				</div>
			</div>
		</div>

		<div class="hero-unit">
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span2"></div>
					<div class="span8">
						<div class="page-header">
							{% block title %}{% endblock %}
						</div>
					</div>
					<div class="span2"></div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span2">
					{% if not on_home %}
						<div class="panel tree">{% page_menu "pages/menus/tree.html" %}</div>
					{% endif %}
				</div>

				<div class="span8">
					{% if not on_home %}
						<ul class="breadcrumb">
							{% spaceless %}
								{% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
							{% endspaceless %}
						</ul>
					{% endif %}

					{% nevercache %}
						{% for message in messages %}
							<div class="alert alert-{{ message.tags }}" data-alert="alert">
								<a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a>{{ message }}
							</div>
						{% endfor %}
					{% endnevercache %}

					{% block main %}{% endblock %}
				</div>

				<div class="span2">
					{% if not on_home %}
						{% block right_panel %}
							{% ifinstalled mezzanine.twitter %}
								{% include "twitter/tweets.html" %}
							{% endifinstalled %}
						{% endblock %}
					{% endif %}
				</div>
			</div>
		</div>

		<footer>
			{% comment %}
				{% page_menu "pages/menus/footer.html" %}
			{% endcomment %}

			<div id="footer-floor">
				<div class="container-fluid">
					<div class="row-fluid">
						<div class="span2"></div>
						<div class="span4">
							<p>
								Copyright &copy; 2012 <a href="http://plfiorini.blogspot.com/">Pier Luigi Fiorini</a>. {% trans "All rights reserved." %}
								<a href="terms">{% trans "Terms" %}</a> & <a href="privacy">{% trans "Privacy" %}</a>.
							</p>
						</div>
						<div class="span4">
							<a href="https://twitter.com/mauilinux/" target="_blank" title="{% trans "Follow @maui on Twitter" %}"><img src="{{ STATIC_URL }}img/twitter.png"></a>
							<a href="https://www.facebook.com/mauios/" target="_blank" title="{% blocktrans %}"Like" Maui on Facebook{% endblocktrans %}"><img src="{{ STATIC_URL }}img/facebook.png"></a>
<!--
							<a href="https://plus.google.com/106410682256187719404/" target="_blank" title="{% trans "Follow us on Google+" %}"><img src="{{ STATIC_URL }}img/googleplus.png"></a>
-->
						</div>
						<div class="span2"></div>
					</div>
				</div>
			</div>
		</footer>
{% comment %}
<!--
			<div id="search">
				<form action="{% url search %}" class="navbar-search pull-right">
					<input class="search-query" placeholder="{% trans "Search" %}" type="text" name="q" value="{{ request.REQUEST.q }}">
					<input class="search-query" type="submit" value="">
				</form>
			</div>
-->
		</div>
{% endcomment %}
		{% include "includes/footer_scripts.html" %}
	</body>
</html>
