{% extends "base_simple.html" %}

{% block extra_css %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/httperror.css" type="text/css">
{% endblock %}

{% block page_title %}Internal Server Error{% endblock %}

{% block body_id %}httperror{% endblock %}

{% block base_content %}
	<div class="span5 httperror">
		<p class="httperror">Internal Server Error!</p>
		<h2>505.</h2>
		<p>Sorry, an error occurred! Our best monkeys are investigating what's just happened.</p>
		<p>Please return to the <a href="/" class="link" rel="tooltip" title="Home Page">home page</a>.</p>
	</div>
	<div class="span7"></div>
{% endblock %}
