<!DOCTYPE html>
{% load googleanalytics %}
<html lang="en" dir="ltr">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block page_title %}{% endblock %}</title>
		<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">

		<link href='http://fonts.googleapis.com/css?family=Lato:400,700|Droid+Sans+Mono' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/maui.layout.css" type="text/css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/maui.styles.css" type="text/css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/maui.bootstrap.css" type="text/css">
		{% block extra_css %}{% endblock %}

		<script src="{{ STATIC_URL }}js/jquery-1.8.1.min.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
		{% block extra_js %}{% endblock %}
		<!--[if lt IE 9]>
			<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<script type="text/javascript">
			$(function() {
				$("[rel='tooltip']").tooltip();
			});
		</script>

		{% block extra_head %}{% endblock %}
	</head>
	<body id="{% block body_id %}body{% endblock %}">
		<div class="container-fluid">
			{% block base_content %}{% endblock %}
		</div>

		{% google_analytics %}
	</body>
</html>
