<!DOCTYPE html>
{% load cms_tags sekizai_tags menu_tags i18n googleanalytics %}
<html lang="en" dir="ltr" itemscope itemtype="http://schema.org/Product">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="{% page_attribute "meta_keywords" %}">
		<meta name="description" content="{% page_attribute "meta_description" %}">
		<title>{% block page_title %}{% page_attribute "page_title" %}{% endblock %}</title>

		<meta itemprop="name" content="Maui">
		<meta itemprop="description" content="{% trans "Maui is a Linux-based desktop operating system using Qt, QtQuick and Wayland aiming at ease of use and out of the box experience." %}">
		<meta itemprop="image" content="{{ STATIC_URL }}img/logos/m.png">

		<meta property="og:title" content="Maui">
		<meta property="og:image" content="{{ STATIC_URL }}img/logos/m.png">
		<meta property="og:description" content="{% trans "Maui is a Linux-based desktop operating system using Qt, QtQuick and Wayland aiming at ease of use and out of the box experience." %}">

		<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">

		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:400,700|Droid+Sans+Mono" type="text/css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" type="text/css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/maui.layout.css" type="text/css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/maui.styles.css" type="text/css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/maui.bootstrap.css" type="text/css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/maui.share.css" type="text/css">
		{% block extra_css %}{% endblock %}

		<script src="{{ STATIC_URL }}js/jquery-1.8.1.min.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
		{% block extra_js %}{% endblock %}
		<!--[if lt IE 9]>
			<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<script type="text/javascript">
			$(function() {
				$("[rel='tooltip']").tooltip();
			});
		</script>

		{% block extra_head %}{% endblock %}

		{% render_block "css" %}
	</head>
	<body id="{% block body_id %}body{% endblock %}">
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/it_IT/all.js#xfbml=1&appId=358496820895385";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>

		{% cms_toolbar %}

		<div class="navbar">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>

					<a class="brand" href="/">
						<img src="{{ STATIC_URL }}img/logos/m.png" width="25" height="25" style="margin-right: 1em">
						Maui
					</a>

					<div class="nav-collapse">
<!--
						<form action="/search/" class="navbar-search pull-right">
							<input class="search-query" placeholder="{% trans "Search" %}" type="text" name="q" value="">
						</form>
-->
        
						<ul class="nav pull-left">
							{% show_menu 0 100 100 100 "navbar.html" %}
						</ul>

						<ul class="nav pull-right">
							{% if request.user.is_authenticated %}
								<li id="dropdown-accounts-profile"><a href="{% url auth_profile %}">{% trans "My Account" %}</a></li>
								{% if request.user.is_superuser %}
									<li id="dropdown-admin"><a href="/admin" target="_blank">{% trans "Admin" %}</a></li>
								{% endif %}
								<li id="dropdown-accounts-logout"><a href="{% url auth_logout %}">{% trans "Log out" %}</a></li>
							{% else %}
								<li id="dropdown-accounts-login"><a href="{% url auth_login %}">{% trans "Log In" %}</a></li>
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>

		{% block base_content %}{% endblock %}

		<footer>
			<div id="footer-floor">
				<div class="container-fluid">
					<div class="row-fluid">
						<div class="span2"></div>
						<div class="span4">
							<p>
								Copyright &copy; 2012 <a href="http://plfiorini.blogspot.com/">Pier Luigi Fiorini</a>. {% trans "All rights reserved." %}
								<a href="{% page_url "terms" %}">{% trans "Terms" %}</a>
							</p>
						</div>
						<div class="span4">
							<a href="https://twitter.com/mauilinux/" target="_blank" title="{% trans "Follow @maui on Twitter" %}"><img src="{{ STATIC_URL }}img/glyphicons/glyphicons_392_twitter_white.png"></a>
							<a href="https://www.facebook.com/mauios/" target="_blank" title="{% blocktrans %}"Like" Maui on Facebook{% endblocktrans %}"><img src="{{ STATIC_URL }}img/glyphicons/glyphicons_390_facebook_white.png"></a>
							<a href="https://plus.google.com/106410682256187719404/" target="_blank" title="{% trans "Follow us on Google+" %}"><img src="{{ STATIC_URL }}img/glyphicons/glyphicons_386_google_plus_white.png"></a>
						</div>
						<div class="span2"></div>
					</div>
				</div>
			</div>
		</footer>

		{% google_analytics %}
		{% render_block "js" %}
		{% block final_js %}{% endblock %}
	</body>
</html>
