{% load menu_tags %}

{% for child in children %}
<!--
	id: {{ child.id }}
	children: {{ child.children }}
	selected: {{ child.selected }}
	ancestor: {{ child.ancestor }}
	sibling: {{ child.sibling }}
	descendant: {{ child.descendant }}
	get_ancestors: {{ child.get_ancestors }}
	get_descendants: {{ child.get_descendants }}
-->
	<li id="dropdown-menu-{{ child.id }}" class="{% if child.children %}dropdown{% endif %} {% if child.selected or child.ancestor %}active{% endif %}">
		{% if child.children %}
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ child.get_menu_title }}{% if child.children %}<span class="caret"></span>{% endif %}</a>
			<ul class="dropdown-menu">
				{% include "navbar.html" with children=child.children %}
			</ul>
		{% else %}
			<a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}{% if child.children %}<span class="caret"></span>{% endif %}</a>
		{% endif %}
	</li>
{% endfor %}
