{% extends "base.html" %}
{% load cms_tags menu_tags %}

{% block base_content %}
	<div class="hero-unit">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span2"></div>
				<div class="span8"><div class="page-title">{% placeholder title_content %}</div></div>
				<div class="span2"></div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span2"></div>

			<div class="span8">
				{% placeholder base_content %}
				{% placeholder template_home_content %}
			</div>

			<div class="span2"></div>
		</div>
	</div>
{% endblock %}
