{% extends "base.html" %}
{% load cms_tags menu_tags i18n %}

{% block base_content %}
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span2"></div>

			<div class="span8">
				<div class="span2">
					<div class="column-content">
						<div class="well">
							<ul class="nav nav-list">
								<li class="nav-header">{% trans "Topics" %}</li>
								{% show_sub_menu %}
							</ul>
						</div>

						<div class="well">
							<ul class="nav nav-list">
								<li class="nav-header">{% trans "Languages" %}</li>
								{% language_chooser %}
							</ul>
						</div>
					</div>
				</div>

				<div class="span10">
					<div class="content">
						<ul class="breadcrumb">
							{% block breadcrumb %}
								{% show_breadcrumb 0 "breadcrumb.html" %}
							{% endblock %}
						</ul>

						<div class="page-header">{% placeholder title_content %}</div>

						{% placeholder base_content %}
						{% placeholder template_normal_content %}
					</div>
				</div>
			</div>

			<div class="span2"></div>
		</div>
	</div>
{% endblock %}
