/* Tags */

body {
	background-image: url(../img/white_texture.png);
}

hr {
	border-bottom: 1px dotted #999;
}

footer {
	text-align: center;
	background-color: #252525;
	color: white;
	border-top: 1px solid #eee;
	padding-top: 1em;
}

footer p {
	color: #999;
}

footer a {
	color: white;
}

#footer-floor {
	background-color: #1b1b1b;
}

#footer-floor .stay-in-touch {
	text-align: right;
}

/* Custom styles */

.twitter {
	background: url(../img/twitter.png) 0 0 no-repeat;
}

/* Override Bootstrap colors */

.nav-pills > .active > a, .nav-pills > .active > a:hover {
	background-color: #e6e6e6;
	border: 1px solid #ccc;
	border-bottom-color: #bbb;
	color: #999;
}

.hero-unit {
	border-top: 3px solid #ebebeb;
	border-bottom: 1px solid #e1e1e1;
}

/* When the hero unit is used on top of the page we draw a gradient */
body > .hero-unit {
	background: #a5a5a5; /* Old browsers */
	background: -moz-linear-gradient(top,  #a5a5a5 0%, #c1c1c1 44%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5a5a5), color-stop(44%,#c1c1c1), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a5a5a5 0%,#c1c1c1 44%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a5a5a5 0%,#c1c1c1 44%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a5a5a5 0%,#c1c1c1 44%,#ededed 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a5a5a5 0%,#c1c1c1 44%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5a5a5', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}
