/* Forms */

input[type='text'].search-query {
	float: left;
	background: gray;
	color: #ccc;
	padding: 4px;
	border: 0;
	margin: 0 5px 0 0;
	width: 170px;
	font-size: 0.8em;
}

input[type='submit'].search-query {
	float: right;
	background: url(../img/search.png) no-repeat;
	width: 20px;
	height: 13px;
	border: 0;
	margin: 5px 0 0;
}
