/* Tags */

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Trebuchet MS", "DejaVu Sans", Verdana, Helvetica, sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	color: #333;
	background-image: url(../img/white_texture.png);
}

a:link, a:visited {
	text-decoration: none;
}
